
*.png
*.jpeg
*.jpg
AI/jobFoDataset/data/archive.zip
AI/jobFoDataset/data/dataset/virabhadrasana ii/File36.gif
AI/jobFoDataset/data/dataset/virabhadrasana i/File62.gif
AI/jobFoDataset/data/dataset/ashtanga namaskara/10. ashtanga-namaskara.jpe
AI/jobFoDataset/cifar-10-batches-py/batches.meta
AI/jobFoDataset/cifar-10-batches-py/data_batch_1
AI/jobFoDataset/cifar-10-batches-py/data_batch_2
AI/jobFoDataset/cifar-10-batches-py/data_batch_3
AI/jobFoDataset/cifar-10-batches-py/data_batch_4
AI/jobFoDataset/cifar-10-batches-py/data_batch_5
AI/jobFoDataset/cifar-10-batches-py/readme.html
AI/jobFoDataset/cifar-10-batches-py/test_batch
