
*.png
*.jpeg
*.jpg
AI/jobFoDataset/data/archive.zip
AI/jobFoDataset/data/dataset/virabhadrasana ii/File36.gif
AI/jobFoDataset/data/dataset/virabhadrasana i/File62.gif
AI/jobFoDataset/data/dataset/ashtanga namaskara/10. ashtanga-namaskara.jpe
